<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="section/head :: import">
    <meta charset="UTF-8">
    <title>社区页</title>
</head>
<body>
<div th:replace="section/head :: head"></div>

<div class="container" id="container">
    <font color="red" th:text="${tips}"></font>
    <div class="media" th:each="d:${DEMANDS}">
        <div class="media-left media-top">
            <img th:src="@{${d.userInfo.bigHead}}"
                 onerror="this.src='https://static.runoob.com/images/mix/img_avatar.png'" class="media-object"
                 style="width:80px">
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a th:onclick="'javascript:DisplayUser('+${d.id}+');'" data-toggle="modal"
                                         data-target="#Modal_userinfo" th:text="${d.name}"></a></h4>
            <h4 align="center" th:text="${d.title}"></h4>
            <p id="content" th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+${d.content}"></p>
        </div>
        <div th:switch="${d.state}">
            <button th:case="1" id="undertake" type="button"
                    class="btn btn-default btn-lg pull-right" th:text=" '已 被 接 单 '+${d.reward}+' 元'">
            </button>
            <button th:case="*" id="undertake" th:onclick=" 'javascript:undertake('+${d.did}+');' " type="button"
                    class="btn btn-primary btn-lg pull-right" th:text=" '接 单 立 赚 '+${d.reward}+' 元'">
            </button>
        </div>
        <hr>
    </div>
</div> <!-- /container -->
<!-- 模态框——用户信息查看（Modal） -->
<div class="modal fade" id="Modal_userinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModal_add">
                    用户信息
                </h4>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li id="id" class="list-group-item active"></li>
                    <li id="name" class="list-group-item"></li>
                    <li id="email" class="list-group-item"></li>
                    <li id="tel" class="list-group-item"></li>
                    <li id="address" class="list-group-item"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">

    function undertake(did) {
        // $.ajax({
        //     async:"true",
        //     type: "POST",
        //     url: "undertakeDemand.action",
        //     data: {
        //         did: did,
        //     },
        //     success: function () {
        //         alert("接单成功!");
        //     }
        // })
        location.href = "/undertakeDemand.action?did=" + did;
        alert("接单成功!");
    }


    //显示用户信息
    function DisplayUser(id) {
        $.ajax({
            url: "/lookUser.action?id=" + id,
            success: function (data) {
                $("#id").text("用户唯一ID：" + data.id);
                $("#name").text("昵称：" + data.name);
                $("#email").text("邮箱：" + data.email);
                $("#tel").text("电话：" + data.tel);
                $("#address").text("地址：" + data.address);
            }
        })
    }
</script>
</body>
</html>